@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: 5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #7300e6;
}

#logo {
    width: 150px;
    height: auto;
}

.movies-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.filme-1 {
    background-image: url(./capadefilme_deadpool_wolverine.png);
}

.filme-2 {
    background-image: url(./capadefilme_eassim_queacaba.jpg);
}

.filme-3 {
    background-image: url(./capadefilme_bettlejuice_osfantasmas.webp);
}

.filme-4 {
    background-image: url(./capadefilme_longlegs_vinculomortal.jpg);
}

.filme-5 {
    background-image: url(./capadefilme_meumalvado_favorito.webp);
}